/* aside styling here */
@import url(/assets/css/vars.css);

.search-side-bar {
    background-color: slateblue;
    position: fixed;
    top: 76px;
    right: 0;
    width: 600px;
    height: 100%;
    background-color: var(--color-bg);
}

.search-input {
    /* width: 100%; */
    width: 90%;
    background-color: seagreen;
    position: relative;
}

.search-input input {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 1.2rem;
}

.search-input input::placeholder {
    font-size: 1.2rem;
}

.search-input i {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}