@import url(/assets/css/vars.css);

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.actions {
    padding: 1rem 2rem;
}

.actions h2 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-dark);
    margin: 2rem 0;
}

.actions button {
    border: 1px solid #000;
    padding: 8px 12px;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}

.actions button:active {
    background-color: var(--color-dark);
    color: var(--color-bg);
}

.cto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-primary);
    font-weight: 600;
    padding: 1rem 2rem;
}

.active-btn {
    background-color: red;
    color: var(--color-bg);
}