@import url(/assets/css/vars.css);

.hero-section {
    height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 24px 12px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg);
}

nav .list {
    display: inline-flex;
    gap: 20px;
    list-style-type: none;
    margin-right: auto;
    /* push all the way to the right  */
}


.logo-section {
    display: inline-flex;
    gap: 8px;
    margin: 0 24px;
}

.logo-section h2,
h2 {
    color: var(--color-primary);
    cursor: pointer;
    transition: 2s;
}

.logo-section h2:hover {
    color: var(--color-accent);
}

.logo-section i {
    margin-top: 6px;
}

.user-actions {
    display: inline-flex;
    gap: 8px;
}

.icons {
    display: flex;
    gap: 24px;
    margin: 0 24px;
}

nav .list li,
.logo-section i,
.icons i {
    cursor: pointer;
    font-size: 1.2rem;
    transition: 2s;
}

nav .list li:hover,
.logo-section i:hover,
.icons i:hover {
    color: var(--color-accent);
}

.user-actions select {
    border: none;
    background: none;
    cursor: pointer;
    transition: 2s;
}

.user-actions select:hover {
    background-color: var(--text-secondary);
    color: var(--color-bg);
}

/* main */
main {
    background-color: seagreen;
    flex: 1;
}

.tagline {
    padding: 10rem 2rem;
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--color-primary);
    background-color: var(--color-dark);
}

.cto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-primary);
    font-weight: 600;
    padding: 1rem 2rem;
}

.cto a {
    text-decoration: underline;
    color: var(--text-primary);


}

/* TODO add models sections than some grid of somethig */

.newsletter-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
}

.newletter-container {
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: var(--color-bg);
    border: solid 2px black;
    border-radius: 2rem;
    /* padding: 12px 16px; */
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.newsletter-header {
    background-color: var(--color-dark);
    color: var(--button-text);
    padding: 12px 16px;
    display: inline-flex;
    gap: 12px;
    /* border-radius: 2rem 0rem 2rem 0rem; */
}

.newsletter-header button {
    background: none;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    color: var(--button-text);
    cursor: pointer;
    transition: 2s;
    width: 30px;
    height: 30px;
}

.newsletter-header button:hover {
    background-color: var(--text-secondary);
}

.newsletter-header h4 {
    margin: 8px;
}

.newsletter-body {
    background-color: var(--color-bg);
    flex: 1;
    padding: 12px 16px;
}

.newsletter-input {
    padding: 12px 16px;
    position: relative;
    border-top: 1px solid var(--color-dark);
}

.newsletter-input input {
    padding: 12px 16px;
    width: 100%;
    border: none;
    outline: none;
}

.send-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    transition: 2s;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.send-icon:hover {
    background-color: var(--text-secondary);
}

/* TODO fix the container border */
/* TODO addd functionality for the newletter */

/* ! models section */
.model-container,
.products-container {
    background-color: var(--color-bg);
    border: 2px solid red;
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto;
    /* padding: 1rem 2rem; */
    font-size: inherit;
}

.model-container {
    display: flex;
    /* gap: 8px; */
    padding: 0;
    overflow: hidden;
}

.model-container img {
    width: 50%;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
}

.products-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* ensures square */
    object-fit: cover;
    display: block;
    /* removes inline spacing issues */

    border-radius: 2rem;
    cursor: pointer;
    transition: 2s;
}

.products-container img:hover{
    width: 100% ;
    position: absolute;
}