<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/products.css">
    <title>F&M | Products</title>
    <script type="module" src="/assets/js/products.js" defer></script>
  </head>
  <body>
    <div class="actions">
      <h2 class="title">New arrival</h2>
      <div class="btns">
        <button id="viewAllBtn">view all</button>
        <button id="clothesBtn">clothes</button>
        <button id="shoesBtn">shoes</button>
        <button id="AccBtn">Accessories</button>
      </div>
    </div>
    <div class="cto">
      <p>Sort By</p>
      <p>Filter</p>
    </div>
  </body>
</html>

<!-- TODO paused till learning fetch -->
